@import url(font/FFMetaProRegular.TTF);
@font-face { font-family: fontbody; src: url('font/FFMetaProRegular.TTF'); } 
body{

    font-family: fontbody !important;
}
p{
    font-weight: 100;
}

.linknone{
    text-decoration: none;
    color: #212529 !important;
    list-style-type: none;
}

/* HEADER-- */
header {
    position: relative;
    z-index: 10;
    background-color: white;
    transition: top 0.3s;
}
#hide{
    display: none;
}




.show{
    display: block !important; 
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}


/* Sticky header when scrolling down */
.appearnav{
    display: flex !important;
    justify-content: space-between;
    width: 100% ;
    align-items: center !important;
}


.sticky-header {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar-center{
    display: flex;
    align-items: center;
}
.navbar-btn{
    display: flex;
    width: 100%;
    justify-content: flex-end;
align-items: center;
}
.logo-apear{
    align-items: center!important;
    width: 50%;
}
/* header--- */










.flex-top-btn{
display: flex;
flex-direction: row;
align-items: center;

justify-content:flex-end;    

}
.dark-blue-btn{
    background-color: #0E2D52 !important;
    padding: 10px 20px;
    border: 0;
    font-size: .9em;
    font-weight: 800;
    color: white;
}.dark-blue-green{
    background-color: #74BD43;
    padding: 10px 20px;
    border: 0;
    font-size: 21px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}

.logo-bar{
    display: flex;
    align-items :self-start;
    justify-content: space-between;

}
.logo-img{
    margin: 20px 0;
}
.justify-right{

    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:  #0E2D52 ;
}   
.justify-right a{

  
    color:  #0E2D52 ;
}   
.bgdarkblue{
    background-color: #0E2D52;
}
.search{

}




.greenbar{
    background-color: #74BD43;
    color: white;
    flex-wrap: wrap;
    display: flex;justify-content: center;
    align-items: center;
    display: flex;
}

.greenbartext{
  font-style: uppercase;
    margin: 10px 10px;
    color: white;
    font-size: 1.3EM;
    font-weight: 700;
    text-decoration: none;
text-transform: uppercase;
}




.dark-blue-bg{
    background: #0E2D52;
}
.big-text{
    font-size: 61px;
padding: 40px 0px;
font-family: sans-serif;


}
.center-text-caro P {
    font-size: 21PX;

}
.center-text-caro{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
color: white;
padding: 50px 20px;
}
.BG1{
    width: 100%;
    height: 100%;
    background: url(COMMERICIAL\ LOCKSMITH\ SERVICES.jpg)no-repeat center center/cover;
    background-color: #42722270;
    background-blend-mode: darken;
    align-items: center;
    justify-content: center;
    
}

.BG2{
    width: 100%;
    height: 100%;
    background: url(residentiallocksmith.jpg)no-repeat center center/cover;    background-color: #42722270;
    background-blend-mode: darken;
    align-items: center;
    justify-content: center;
}
.BG3{
    width: 100%;
    height: 100%;
    background: url(Automotive\ LOCKSMITH\ SERVICES.jpg)no-repeat center center/COVER;    background-color: #42722270;
    background-blend-mode: darken;
    align-items: center;
    justify-content: center;
}

.carousel-inner{
    height: 500px;
    width: 100%;  object-fit: cover;

}
.carousel-item{
    height: 500px;
    align-items: center;
    justify-content: center;
    align-items: center;
 
}
.cr-1{
    display: flex !important;
color: #0E2D52;

    justify-content: center;
    align-items: center;
    background: url(Locksmith-Services-001.jpg)no-repeat center center/cover;
padding: 10px 50px ;
background-color:  #74bd43c9;
background-blend-mode: lighten ;
}
.cr-1 h1 {
    font-size: 56px;
    line-height: 42px;
}
.cr-1 p {
    font-size: 26px;
    line-height: 42px;
}





.btn-dark-blue{
    background-color: #0E2D52 !important;
    padding: 10px 20px;
    border: 0;
    font-size: 21px;
    font-weight: 800;
    color: white;
}




.big-font{
    text-transform: uppercase;
    font-size: 61px;text-shadow: 2px 2px 10PX  rgba(0, 0, 0, 0.233);
    }
    











.green-bg{
    margin-top: -20px;
    padding: 50px 50px;
background-color: #74BD43;
}



.service-container{
    margin: 100px 0px;
}

.CARD-FONT{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
text-align: center;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.233) 2px 2px 2px ;
}
.hover-green:hover{
    background-color: #74BD43 !important;
    transition-duration: .4s;
}












/* NAVBAR" */
/* Main item (visible always) */
.dropdown-hover {
    padding: 10px 20px;
    background-color: #74BD43;

    color: white;
    cursor: pointer;
    border-radius: 5px;
  }

  .dropdown-hover:hover {
    background-color: #7ad63cee;

  }

  /* Dropdown menu (hidden by default) */
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #74BD43;
    min-width: 150px;
    padding: 10px 0;
    border-radius: 5px;


  }

  .dropdown-menu a {
    display: block;
    padding: 10px 15px;
    color: white;
    background-color: #74BD43;
    text-decoration: none;
  }

  .dropdown-menu a:hover {
    background-color: #666;
  }

  /* Show dropdown on hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }





.card-box i {
    color: #74BD43;
    font-size: 82px;
}


/* whyuc--------------------- */
.why-us-card {
margin: 10px 10px;

}


.why-us-card i{
    color: #74BD43;
    margin: 10px 10px;
    font-size: 89px;
}



.font-lg{
    font-size: 4em;
}
.text-green-h4{
    color: #74BD43;
}



.footer-iconi{
    font-size:30px ;
}
.footer-icons{
    text-decoration: none;
    list-style-type: none;
}

 .link-item {
    display: inline-flex;
    color: #0E2D52;
    align-items: center;
    margin: 0 10px;
  }
  .link-item::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: #0E2D52;
    margin-left: 10px;
  }
  .link-item:last-child::after {
    display: none; /* Removes the line after the last link */
  }






  .heading { color: #74BD43; }
        .paragraph { color: #0E2D52; }
        .list-group-item { border: none; }